{{ define "ArchitectureNav" }}
<div class="section-nav-content">
    <h3>Architecture</h3>
    <ul>
        <li><a href="{{.Site.PathPrefix}}/architecture/">All pages</a></li>
        <li><a href="{{.Site.PathPrefix}}/architecture/layering/">Layering</a></li>
        <li><a href="{{.Site.PathPrefix}}/architecture/evaluation/">Evaluation</a></li>
        <li><a href="{{.Site.PathPrefix}}/architecture/rewrites/">Rewrites</a></li>
        <li><a href="{{.Site.PathPrefix}}/architecture/provenance/">Provenance</a></li>
        <li><a href="{{.Site.PathPrefix}}/architecture/testing/">Testing</a></li>
    </ul>
</div>
{{ end }}
