{{ define "GuideNav" }}
<div class="section-nav-content">
    <h3>Guide</h3>
    <ul>
        <li><a href="{{.Site.PathPrefix}}/guide/">All topics</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/syntax/">Syntax</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/types-and-constants/">Types and constants</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/negation/">Negation</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/aggregation/">Aggregation</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/ordering/">Ordering</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/host-options/">Host options</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/modules-and-vocabulary/">Modules and the vocabulary</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/absent-values/">Absent values</a></li>
    </ul>
</div>
{{ end }}
