{{ define "ReferenceNav" }}
<div class="section-nav-content">
    <h3>Reference</h3>
    <ul>
        <li><a href="{{.Site.PathPrefix}}/reference/">All pages</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/datasets/">Datasets</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/grammar/">Grammar</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/builtins/">Built-ins</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/evaluators/">Evaluators</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/errors/">Error messages</a></li>
    </ul>
</div>
{{ end }}
