{{ define "TutorialNav" }}
<div class="section-nav-content">
    <h3>Tutorials</h3>
    <ul>
        <li><a href="{{.Site.PathPrefix}}/tutorials/">Overview and the facts</a></li>
        <li><a href="{{.Site.PathPrefix}}/tutorials/01-first-query/">1. A first query</a></li>
        <li><a href="{{.Site.PathPrefix}}/tutorials/02-rules-and-recursion/">2. Rules and recursion</a></li>
        <li><a href="{{.Site.PathPrefix}}/tutorials/03-negation/">3. Negation</a></li>
        <li><a href="{{.Site.PathPrefix}}/tutorials/04-aggregation/">4. Aggregation</a></li>
        <li><a href="{{.Site.PathPrefix}}/tutorials/05-go-host/">5. Embedding jaala in Go</a></li>
    </ul>
</div>
{{ end }}
